input {
    width: 100%;
    padding: 12px 14px;
    border-radius: 10px;
    background: var(--color-input-border);
    border: 1px solid var(--color-input-border);
    font-size: 15px;
    color: var(--color-text);
    outline: none;
    transition: border 0.25s, box-shadow 0.25s;
    box-sizing: border-box;

    &:focus {
        border-color: var(--color-cyan); // Cambia el color del borde al enfocar
        box-shadow: 0 0 6px rgba(0,207,255,0.4); // Sombra alrededor del input
    }
    
    &::placeholder {
        color: var(--color-text-dark); // Color del texto del placeholder
    }
}